<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getcapacitor.plugin.card_scanner.cardscanner">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <!--<activity
            android:name=".CardScannerCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />-->
    </application>
</manifest>
  